# Getting the Data from the files :-

In [1]:
import pandas as pd
import os
import threading
import multiprocessing as mp
from concurrent.futures import ThreadPoolExecutor
import datetime as dt
import pyproj
import numpy as np
import clean

In [2]:
folder = r"C:\Users\Deepanshu Sharma\Downloads\Geolife Trajectories 1.3\Geolife Trajectories 1.3\Data"
if __name__ == '__main__' :
    pool = mp.Pool(mp.cpu_count())
    mn = mp.Manager()
    frames = mn.list()
    for dc in os.scandir(folder):
        pool.apply_async(clean.func,args=(dc.path,))
    pool.close()
    pool.join()
    print(frames)

[]

# locations:-

In [3]:
import requests
from bs4 import BeautifulSoup
from concurrent.futures import ThreadPoolExecutor
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\Deepanshu Sharma\Desktop\geolife\output\175.csv")

In [5]:
df

,Unnamed: 0,lat,long,altitude,datetime,timedelta,distance,velocity,acceleration,trajectory_id,labels,v_ave,v_med,v_max,a_ave,a_med,a_max,path number
0,0,39.975117,116.330600,482.283465,2007-10-19 05:23:15,0 days 00:01:00,65.518529,1.091975,0.012671,20071019052315,taxi,4.235587,0.949262,61.340617,-0.144345,0.000212,1.298689,1
1,1,39.975100,116.329833,482.283465,2007-10-19 05:24:15,0 days 00:01:14,137.066720,1.852253,0.044763,20071019052315,taxi,4.235587,0.949262,61.340617,-0.144345,0.000212,1.298689,1
2,2,39.975300,116.328250,157.480315,2007-10-19 05:25:29,0 days 00:02:24,743.713736,5.164679,0.033864,20071019052315,taxi,4.235587,0.949262,61.340617,-0.144345,0.000212,1.298689,1
3,3,39.975050,116.319550,111.548556,2007-10-19 05:27:53,0 days 00:00:58,582.387123,10.041157,-0.142081,20071019052315,taxi,4.235587,0.949262,61.340617,-0.144345,0.000212,1.298689,1
4,4,39.974967,116.312733,203.412073,2007-10-19 05:28:51,0 days 00:02:09,232.255863,1.800433,0.020377,20071019052315,taxi,4.235587,0.949262,61.340617,-0.144345,0.000212,1.298689,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,303,39.965917,116.315650,104.986877,2007-10-22 01:48:25,0 days 00:01:00,67.363132,1.122719,0.067477,20071022014704,bus,8.039953,1.543893,38.739614,-0.234064,-0.014439,0.067477,4
304,304,39.966500,116.315867,104.986877,2007-10-22 01:49:25,0 days 00:00:21,108.598136,5.171340,-0.183621,20071022014704,bus,8.039953,1.543893,38.739614,-0.234064,-0.014439,0.067477,4
305,305,39.966917,116.314717,124.671916,2007-10-22 01:49:46,0 days 00:01:33,122.322623,1.315297,-0.012871,20071022014704,bus,8.039953,1.543893,38.739614,-0.234064,-0.014439,0.067477,4
306,306,39.967967,116.314283,216.535433,2007-10-22 01:51:19,0 days 00:05:26,38.553162,0.118261,NaN,20071022014704,bus,8.039953,1.543893,38.739614,-0.234064,-0.014439,0.067477,4
307,307,39.968100,116.313867,285.433071,2007-10-22 01:56:45,NaN,NaN,NaN,NaN,20071022014704,bus,8.039953,1.543893,38.739614,-0.234064,-0.014439,0.067477,4

In [4]:
hed = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
def g_add(la,lo):
    r = requests.get(f'https://www.google.com/maps/place/{la},{lo}',headers =hed )
    soup = BeautifulSoup(r.content, 'html.parser')
    s = soup.find_all('meta', {'itemprop':'description'})
    return s[0].attrs['content']

In [ ]:
for i in df.index.values:
    lat = df.iloc[i]['lat']
    long = df.iloc[i]['long']
    address = g_add(lat,long)
    df.iloc[i]['g_add'] = address
    print(address)

C:\Users\Deepanshu Sharma\AppData\Local\Temp\ipykernel_19540\1944075431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]['g_add'] = address
C:\Users\Deepanshu Sharma\AppData\Local\Temp\ipykernel_19540\1944075431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]['g_add'] = address

China, Beijing, Haidian District, 王府井 邮政编码: 100086

C:\Users\Deepanshu Sharma\AppData\Local\Temp\ipykernel_19540\1944075431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]['g_add'] = address

Shuangyushu, Haidian District, Beijing, China, 100086

C:\Users\Deepanshu Sharma\AppData\Local\Temp\ipykernel_19540\1944075431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]['g_add'] = address

Shuangyushu, Haidian District, Beijing, China, 100086

C:\Users\Deepanshu Sharma\AppData\Local\Temp\ipykernel_19540\1944075431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]['g_add'] = address

Shuangyushu, Haidian District, Beijing, China, 100086

In [6]:
hed = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
def g_add(idx):
    lat = df.iloc[idx]['lat']
    long = df.iloc[idx]['long']
    r = requests.get(f'https://www.google.com/maps/place/{lat},{long}',headers =hed )
    soup = BeautifulSoup(r.content, 'html.parser')
    s = soup.find_all('meta', {'itemprop':'description'})
    if len(s) == 0 :
        print(soup.prettify())
        return None
    else:
        print(s[0].attrs['content'])
        return s[0].attrs['content']

In [7]:
idxs = []
for i in df.index.values:
    idxs += [i] 
with ThreadPoolExecutor(max_workers=10) as executor:
    re = list(executor.map(g_add, idxs))

Haidian District, Beijing, China, 100086
Aerospace Precision Bldg. B Bldg., 车道沟 Hai Dian Qu, Bei Jing Shi, China, 100086
Shuangyushu, Haidian District, Beijing, China, 100086
China, Beijing, Haidian District, 索家坟 邮政编码: 100086China, Beijing, Haidian District, 车道沟 邮政编码: 100086
Shuangyushu, Haidian District, Beijing, China, 100086
Shuangyushu, Haidian District, Beijing, China, 100086

Haidian District, Beijing, China, 100086
China, 万柳巴沟南路星标家园颐园7号底商
China, Beijing, Haidian District, 王府井 邮政编码: 100086
Ba Gou Lu, Hai Dian Qu, Bei Jing Shi, China, 100080
Haidian District, Beijing, China, 100080
76 N 4th Ring W Rd, Haidian District, Beijing, China, 100080
China, Beijing, Haidian District, 万泉庄 邮政编码: 100080
Haidian District, Beijing, China, 100080
China, Beijing, Haidian District, 新街口 邮政编码: 100000
Xiao Qing He Lu, Hai Dian Qu, Bei Jing Shi, China, 100091
Beijing, ChinaChina, Beijing, Haidian District, 四季青 邮政编码: 100000

Haidian District, Beijing, China
2769+8V3, Haidian District, Beijing, China, 100091
China, Beijing, Haidian District, 四季青 邮政编码: 100091
Haidian District, Beijing, China
S50, Hai Dian Qu, Bei Jing Shi, China, 100093
China, Beijing, Haidian District, 万泉庄 邮政编码: 100093
Guang Run Lu, Hai Dian Qu, Bei Jing Shi, China, 100093
Haidian District, China, 100093
China, Beijing, Haidian District, 定慧寺 邮政编码: 100093
Haidian District, Beijing, China
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China
Haidian District, Beijing, ChinaHaidian District, Beijing, China, 100093

Haidian District, Beijing, China, 100093China, Beijing, Haidian District, 香山买卖街十八亩地丙9号

Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
China, 北正黄旗59号北京世纪金源香山商旅酒店地下一层
Xiangshan Park, China, 100093
Haidian District, Beijing, China, 100093
China, Beijing, Haidian District, 买卖街40号香山公园内 邮政编码: 100093China, Beijing, Haidian District, 买卖街40号香山公园内 邮政编码: 100093

China, Beijing, Haidian District, 买卖街40号香山公园内 邮政编码: 100093
China, Beijing, Haidian District, 西北郊小西山山脉东麓香山公园见心斋内
Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093Xiangshan Park, China, 100093

Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
X5PM+FRF, Haidian District, Beijing, China, 100093
Shijingshan District, Beijing, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Shijingshan District, Beijing, China, 100093
Beijing Xishan Nat'l Forest Park, China
Shijingshan District, Beijing, China
Beijing Xishan Nat'l Forest Park, China
Shijingshan District, Beijing, China
Shijingshan District, Beijing, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, ChinaBeijing Xishan Nat'l Forest Park, China

Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Beijing Xishan Nat'l Forest Park, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, ChinaHaidian District, Beijing, China

Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China
Xiangshan Park, China, 100093
Haidian District, Beijing, China
Haidian District, Beijing, China
Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Haidian District, Beijing, China, 100093
Shijingshan District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Xiangshan Park, China, 100093
Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
X5QP+R49, Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Xiangshan Park, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
China, Beijing, Haidian District, 买卖街40号香山公园内 邮政编码: 100093
X5QQ+RM2, Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
X5RV+89G, Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China, 100093
China, Beijing, Haidian District, 香山南营66号北京植物园内
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China
Haidian District, Beijing, China, 100093
57 Xiang Shan Mai Mai Jie, Hai Dian Qu, Bei Jing Shi, China, 100093
21 Xiang Shan Mai Mai Jie, Hai Dian Qu, Bei Jing Shi, China, 100093
Haidian District, Beijing, China, 100093
Jie Wang Fu Lu, Hai Dian Qu, Bei Jing Shi, China, 100093
Haidian District, Beijing, China, 100093
Haidian District, Beijing, China
China, 香山一棵松甲52号16门1楼1601室
Beijing Botanical Garden Inst, Hai Dian Qu, China, 100093
China, Beijing, Haidian District, 香山买卖街东口（近香山5号停车场商业配套楼）
Haidian District, Beijing, China
Cha Peng Lu, Hai Dian Qu, Bei Jing Shi, China, 100093Haidian District, Beijing, China

China, Beijing, Haidian District, 定慧寺 邮政编码: 100093
Haidian District, Beijing, China
Min Zhuang Lu, Hai Dian Qu, Bei Jing Shi, China, 100081
China, Beijing, Haidian District, 松堂 邮政编码: 100081
China, Beijing, Haidian District, 四季青 邮政编码: 100081
Haidian District, Beijing, China
Haidian District, Beijing, China, 100081
X8M5+G9H, Zhongguancun, Haidian District, Beijing, China, 100086
Haidian Park, Hai Dian Qu, China, 100080
China, Beijing, Haidian District, 六郎庄
China, 2, Haidian District, Kexueyuan S Rd, 2号CN 北京市1层 Rongke Information Center B Bldg. 邮政编码: 100190
Zhongguancun, Haidian District, Beijing, China, 100086
National Chinese Traditional Medicine Mangement Bureau Molecular Biology Xue Laboratory, 新街口 Hai Dian Qu, Bei Jing Shi, China, 100190
China, Bei Jing Shi, Hai Dian Qu, Financial Street, 知春东里10栋 邮政编码: 100086Zhi Chun Lu, Hai Dian Qu, Bei Jing Shi, China, 100190

China, Beijing, Haidian District, 甘家口 邮政编码: 100190
Haidian District, Beijing, China, 100086
China, 北侧CN 北京市 海淀区 知春路 82 82号院 Longda Garden 邮政编码: 100086
Kaixin Convenience Store, 美术馆 Hai Dian Qu, Bei Jing Shi, China, 100086
Ya Shi Li Er Branch, 德胜门 Hai Dian Qu, Bei Jing Shi, China, 100086Shuangyushu, Haidian District, Beijing, China, 100086

Shuangyushu, Haidian District, Beijing, China, 100086
Shengjia Chinese Herbal Medicine Hair Care Tang, 平安里 Hai Dian Qu, Bei Jing Shi, China, 100086
Shuangyushu, Haidian District, Beijing, China, 100086
Shuangyushu, Haidian District, Beijing, China, 100086
China, Beijing, Haidian District, 木樨地 邮政编码: 100086
China, Beijing, Haidian District, 魏公村 邮政编码: 100086
Bei San Huan Xi Lu Fu Lu, Hai Dian Qu, Bei Jing Shi, China, 100086
China, Beijing, Haidian District, 魏公村 邮政编码: 100086
China, Beijing, Haidian District, 魏公村 邮政编码: 100086
Haidian District, Beijing, China, 100086
Jiao Xue Bei Lu, 魏公村 Hai Dian Qu, Bei Jing Shi, China, 100086
Jiao Xue Xi Lu, 魏公村 Hai Dian Qu, Bei Jing Shi, China, 100086
China, Beijing, Haidian District, 月坛 邮政编码: 100086
Zhuyuan Zone 1 B Dong, 明光村 Hai Dian Qu, Bei Jing Shi, China, 100086
China, Beijing, Haidian District, 魏公村 邮政编码: 100086
China, Beijing, Haidian District, 魏公村 邮政编码: 100086
China, Bei Jing Shi, Hai Dian Qu, 八里庄中关村南大街5号院9栋 邮政编码: 100086
China, Beijing, Haidian District, 木樨地 邮政编码: 100086
Haidian District, Beijing, China, 100086
Bei San Huan Xi Lu Fu Lu, Hai Dian Qu, Bei Jing Shi, China, 100086
49 N 3rd Ring W Rd, Haidian District, Beijing, China, 100086
China, Beijing, Haidian District, 花园村 邮政编码: 100086
San Yi Miao Lu, Hai Dian Qu, Bei Jing Shi, China, 100086
Si Dao Kou Lu, Hai Dian Qu, Bei Jing Shi, China, 100098
Si Dao Kou Lu, Hai Dian Qu, Bei Jing Shi, China, 100098
China, Bei Jing Shi, Hai Dian Qu, 复兴门三义庙北4栋 邮政编码: 100086
China, Tian Jin Shi, He Dong Qu, 黄家花园汇贤里26号楼 邮政编码: 300170
China, Tian Jin Shi, He Dong Qu, 黄家花园靓锦名居19号楼 邮政编码: 300170
China, Tian Jin Shi, He Dong Qu, 黄家花园汇贤里24号楼 邮政编码: 300170
China, Tian Jin Shi, He Dong Qu, Hutong, 靓锦名居16号楼 邮政编码: 300170
China, Tianjin, Hedong, 后广场 邮政编码: 300170
Hedong, Tianjin, China
China, Tian Jin Shi, He Dong Qu, 天塔地区靓锦名居17号楼 邮政编码: 300170
Hedong, Tianjin, China, 300170
China, Tian Jin Shi, He Dong Qu, 八里台金堂家园11号楼 邮政编码: 300160
Yangguang Convenience Store, 天塔地区 He Dong Qu, Tian Jin Shi, China, 300163
Hutong, Hexi District, Tianjin, Tianjin, China, 300019
China, Tianjin, Hexi District, Tianjin, 八里台 邮政编码: 300019
Hedong, Tianjin, China
Huawei Clinic, 黄家花园 He Xi Qu, Tian Jin Shi, China, 300202
Hexi District, Tianjin, Tianjin, China, 300299
China, Tianjin, Hexi District, Tianjin, 佟楼 邮政编码: 300203
China, Tianjin, Hexi District, Tianjin, 王顶堤 邮政编码: 300203
Hexi District, Tianjin, Tianjin, China, 300203
China, Tianjin, Hexi District, Tianjin, 黄家花园 邮政编码: 300203
China, Tianjin, Heping, 体院北 邮政编码: 300074
Ma Chang Dao, He Ping Qu, Tian Jin Shi, China, 300074
Hutong, Heping, Tianjin, China, 300074
Ma Chang Dao, He Ping Qu, Tian Jin Shi, China, 300074
Anning Letters and Visits Reception Center, 长虹公园地区 He Ping Qu, Tian Jin Shi, China, 300074
Shan Xi Lu, He Ping Qu, Tian Jin Shi, China, 300074
Fuxing Park, He Ping Qu, China, 300051
Xi An Dao, He Ping Qu, Tian Jin Shi, China, 300050
China, Tianjin, Heping, 天塔地区 邮政编码: 300051
China Unicom Heshu Business Hall, 佟楼 He Ping Qu, Tian Jin Shi, China, 300052
China, Tian Jin Shi, He Ping Qu, 体院北吉利花园4号楼 邮政编码: 300052
China, Tianjin, Heping, 后广场 邮政编码: 300052
China, Tianjin, Heping, 黄家花园 邮政编码: 300052
158 Anshan Ave, Heping, Tianjin, China, 300052
Wangguan Building, 体院北 He Ping Qu, Tian Jin Shi, China, 300073
Nankai District, Tianjin, China, 300073
China, Tianjin, Nankai District, 天塔地区 邮政编码: 300073
China, Tian Jin Shi, Nan Kai Qu, 八里台天大北五村9号楼 邮政编码: 300073
Heping, Tianjin, China, 300073
Tianjin University-Student Dormitory 26 Zhai, 黄家花园 Nan Kai Qu, Tian Jin Shi, China, 300072
China, Tianjin, Nankai District, 天塔地区 邮政编码: 300072
China, 鞍山西道220号
China, Tianjin, Nankai District, 长虹公园地区 邮政编码: 300072
Ji Xian Dao, Nan Kai Qu, Tian Jin Shi, China, 300072
Nankai District, Tianjin, China, 300072
Guangdong RCC Atm, 大王庄 Nan Kai Qu, Tian Jin Shi, China, 300072China, Tianjin, Nankai District, 黄家花园 邮政编码: 300072

China, Tianjin, Nankai District, 八里台 邮政编码: 300072
Nankai District, Tianjin, China, 300072
China, Tianjin, Nankai District, 天塔地区 邮政编码: 300072Youyi Lake, Nankai District, China, 300071

Tianjin University Pengxiang Student Apartment Sanzhai, 王顶堤 Nan Kai Qu, Tian Jin Shi, China, 300072
China, Tianjin, Nankai District, 长虹公园地区 邮政编码: 300072
Jin Hui Lu, Nan Kai Qu, Tian Jin Shi, China, 300072
China, Tian Jin Shi, Nan Kai Qu, 黄家花园天大三村3号楼 邮政编码: 300072
Nankai District, China
China, Tianjin, Nankai District, 长虹公园地区 邮政编码: 300072
China, Tianjin, Nankai District, 大王庄 邮政编码: 300072
Nankai District, China
Heping, Tianjin, China, 300073
Tianjin University-Student Dormitory 26 Zhai, 黄家花园 Nan Kai Qu, Tian Jin Shi, China, 300072
China, Tianjin, Heping, 天塔地区 邮政编码: 300052
An Shan Xi Dao, Nan Kai Qu, Tian Jin Shi, China, 300072
China, Tianjin, Nankai District, 天塔地区 邮政编码: 300073
Emerald Wan Phase 1 Emerald Mansion (Pedestrian Gate), 水上 He Ping Qu, Tian Jin Shi, China, 300052
China, Tianjin, Heping, 水上 邮政编码: 300073
Si Ping Xi Dao, He Ping Qu, Tian Jin Shi, China, 300052
China, Tianjin, Heping, 水上 邮政编码: 300052
459R+2JP, Guiyang Rd, Heping, Tianjin, China, 300052
China, Tianjin, Heping, 独山路（教堂后）
Liu Zhou Lu, He Ping Qu, Tian Jin Shi, China, 300051
Fuxing Park, He Ping Qu, China, 300051
Xi An Dao, He Ping Qu, Tian Jin Shi, China, 300050
China, Tianjin, Heping, 八里台 邮政编码: 300074
Xin Hua Lu, He Ping Qu, Tian Jin Shi, China, 300074
Heping, China, 300074
Ma Chang Dao, He Ping Qu, Tian Jin Shi, China, 300074
Tianjin Med Univ Guangdong Rd Camp., 体院北 He Xi Qu, Tian Jin Shi, China, 300074Tjmu Guangdong Rd.-Doctoral Apt., 体院北 He Xi Qu, Tian Jin Shi, China, 300074

China, Tian Jin Shi, He Xi Qu, 李七庄安德里17/20号楼 邮政编码: 300203
China, Tian Jin Shi, He Xi Qu, 佟楼安德里35号楼 邮政编码: 300203
Hexi District, Tianjin, China
Xia Men Lu, He Xi Qu, Tian Jin Shi, China, 300203
China, Tianjin, Hexi District, Tianjin, 佟楼 邮政编码: 300203
Hutong, Hexi District, Tianjin, Tianjin, China, 300019
China, Tianjin, Hexi District, Tianjin, 八里台 邮政编码: 300019
Mingbo Apartment, 八里台 He Dong Qu, Tian Jin Shi, China, 300019
Tianjin, China
China, Tian Jin Shi, He Dong Qu, 天塔地区丰盛园10号楼 邮政编码: 300171
China, Tian Jin Shi, He Dong Qu, 八里台丰盛园15号楼 邮政编码: 300171
Hedong, Tianjin, China, 300170
China, Tianjin, Hedong, 八里台 邮政编码: 300171
China, Tianjin, Hedong, 后广场 邮政编码: 300171
Hong Xing Lu, He Dong Qu, Tian Jin Shi, China, 300170Hedong, Tianjin, China, 300171

Jin Tang Lu, He Dong Qu, Tian Jin Shi, China, 300171
China, Tianjin, Hedong, 佟楼 邮政编码: 300170
China, Tianjin, Hedong, 体院北
China, Hedong, 大直沽汇贤里
Hedong, Tianjin, China, 300170
Derenju Clinic, Hutong, He Dong Qu, Tian Jin Shi, China, 300170
China, Tian Jin Shi, He Dong Qu, 八里台汇贤里6号楼 邮政编码: 300170
Hedong, Tianjin, China, 300170
China, Bei Jing Shi, Dong Cheng Qu, 船板胡同22号 邮政编码: 100062
China, Beijing, Dongcheng, 朝阳门 邮政编码: 100062
China, Tianjin, Hedong, 佟楼 邮政编码: 300170
Haidian District, Beijing, China, 100098
Da Zhong Si Zhong Kun Guang Chang Bu Xing Jie, Hai Dian Qu, Bei Jing Shi, China, 100098
China, Bei Jing Shi, Hai Dian Qu, Zizhu Bridge, 友谊社区1-4号楼4号楼 邮政编码: 100086
Si Dao Kou Lu, Hai Dian Qu, Bei Jing Shi, China, 100098
China, Beijing, Haidian District, 魏公村 邮政编码: 100082
Haidian District, Beijing, China, 100086
Haidian District, Beijing, China, 100086
China, Bei Jing Shi, Hai Dian Qu, 新街口友谊社区62号楼 邮政编码: 100086
China, Beijing, Haidian District, 闹市口 邮政编码: 100086
China, Beijing, Haidian District, 复兴门 邮政编码: 100086

In [9]:
df["g_add"] = re

In [20]:
df[["g_add","lat","long"]].sample(50)

                                                 g_add        lat        long
209     Hexi District, Tianjin, Tianjin, China, 300203  39.105383  117.218617
63             Beijing Xishan Nat'l Forest Park, China  39.984233  116.181067
278                                     Tianjin, China  39.110417  117.228833
65             Beijing Xishan Nat'l Forest Park, China  39.983650  116.180033
149  China, Beijing, Haidian District, 松堂 邮政编码: 100081  39.968650  116.268967
97                    Haidian District, Beijing, China  39.989433  116.175800
261                   China, Tianjin, Heping, 独山路（教堂后）  39.117083  117.194400
179  Jiao Xue Xi Lu, 魏公村 Hai Dian Qu, Bei Jing Shi,...  39.959917  116.316533
8    China, Beijing, Haidian District, 索家坟 邮政编码: 10...  39.974567  116.304100
134           Haidian District, Beijing, China, 100093  39.991800  116.197417
67             Beijing Xishan Nat'l Forest Park, China  39.984483  116.179133
94                    Haidian District, Beijing, China  39.989667  116.174650
72             Beijing Xishan Nat'l Forest Park, China  39.985750  116.176083
104           Haidian District, Beijing, China, 100093  39.988400  116.179500
135  21 Xiang Shan Mai Mai Jie, Hai Dian Qu, Bei Ji...  39.992150  116.197517
51                       Xiangshan Park, China, 100093  39.985983  116.187667
178  China, Beijing, Haidian District, 月坛 邮政编码: 100086  39.959067  116.316867
198                     Hedong, Tianjin, China, 300170  39.117233  117.248667
84                    Haidian District, Beijing, China  39.990567  116.172800
248                             Nankai District, China  39.106767  117.169417
41                       Xiangshan Park, China, 100093  39.989567  116.189800
272  China, Tian Jin Shi, He Xi Qu, 佟楼安德里35号楼 邮政编码:...  39.109050  117.214933
199                             Hedong, Tianjin, China  39.118700  117.249617
108                      Xiangshan Park, China, 100093  39.987750  116.181500
54                       Xiangshan Park, China, 100093  39.986517  116.186050
62                Shijingshan District, Beijing, China  39.984267  116.181917
101                      Xiangshan Park, China, 100093  39.989050  116.178600
89                    Haidian District, Beijing, China  39.989417  116.172167
12   76 N 4th Ring W Rd, Haidian District, Beijing,...  39.979133  116.294767
263             Fuxing Park, He Ping Qu, China, 300051  39.116483  117.198817
282  China, Tian Jin Shi, He Dong Qu, 天塔地区丰盛园10号楼 邮...  39.116600  117.236217
239            Nankai District, Tianjin, China, 300072  39.112200  117.168217
286                     Hedong, Tianjin, China, 300170  39.120033  117.242300
277  China, Tianjin, Hexi District, Tianjin, 八里台 邮政...  39.110483  117.226950
131           Haidian District, Beijing, China, 100093  39.991267  116.197000
297  China, Bei Jing Shi, Dong Cheng Qu, 船板胡同22号 邮政...  39.903550  116.419800
6             Haidian District, Beijing, China, 100086  39.974700  116.307800
23   China, Beijing, Haidian District, 万泉庄 邮政编码: 10...  40.001250  116.243317
266  Xin Hua Lu, He Ping Qu, Tian Jin Shi, China, 3...  39.113717  117.209200
47                       Xiangshan Park, China, 100093  39.987217  116.189500
246         Youyi Lake, Nankai District, China, 300071  39.107733  117.168633
158  National Chinese Traditional Medicine Mangemen...  39.981517  116.327200
44   China, Beijing, Haidian District, 西北郊小西山山脉东麓香山...  39.988867  116.189883
37                      China, 北正黄旗59号北京世纪金源香山商旅酒店地下一层  39.990550  116.192700
165  Shuangyushu, Haidian District, Beijing, China,...  39.976133  116.327350
107           Haidian District, Beijing, China, 100093  39.987650  116.180783
237  China, Tianjin, Nankai District, 黄家花园 邮政编码: 30...  39.112617  117.169117
17                                      Beijing, China  40.013383  116.281283
223  China Unicom Heshu Business Hall, 佟楼 He Ping Q...  39.118850  117.187333
21   China, Beijing, Haidian District, 四季青 邮政编码: 10...  40.004283  116.263217

In [24]:
from geopy.geocoders import Nominatim

def get_location(latitude, longitude):
    # Initialize Nominatim geocoder
    geolocator = Nominatim(user_agent="geoLife")

    # Concatenate latitude and longitude
    location = f"{latitude}, {longitude}"

    try:
        # Try to reverse geocode coordinates
        address = geolocator.reverse(location)
        return address.raw  # Return the full address
    except Exception as e:
        print("Error:", e)
        return None

In [25]:
dd  = get_location(28.36776454968652, 77.31637594197561)

In [26]:
dd

{'place_id': 211117345,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 143865404,
 'lat': '28.367313950000003',
 'lon': '77.31706376865142',
 'class': 'amenity',
 'type': 'university',
 'place_rank': 30,
 'importance': 9.99999999995449e-06,
 'addresstype': 'amenity',
 'name': "Young Man's Christian Association Institute of Engineering",
 'display_name': "Young Man's Christian Association Institute of Engineering, Y.M.C.A Boy's Hostel, Sector 6, Faridabad, Faridabad District, Haryana, 121001, India",
 'address': {'amenity': "Young Man's Christian Association Institute of Engineering",
  'road': "Y.M.C.A Boy's Hostel",
  'industrial': 'Sector 6',
  'city': 'Faridabad',
  'county': 'Faridabad',
  'state_district': 'Faridabad District',
  'state': 'Haryana',
  'ISO3166-2-lvl4': 'IN-HR',
  'postcode': '121001',
  'country': 'India',
  'country_code': 'in'},
 'boundingbox': ['28.3661426', '28.3684836', '77.3151982', '77.3189402']}

# Kabada:-

In [3]:
geod = pyproj.Geod(ellps='WGS84')



def calculate_distance(long1, lat1, long2, lat2):
    if lat1 == lat2 and long1 == long2:
        return 0
    if False in np.isfinite([long1, long2, lat1, lat2]):
        return np.nan
    if lat1 < -90 or lat1 > 90 or lat2 < -90 or lat2 > 90:
        return np.nan
    if long1 < -180 or long1 > 180 or long2 < -180 or long2 > 180:
        return np.nan
    angle1,angle2,distance = geod.inv(long1, lat1, long2, lat2)
    return distance

def calculate_velocity(distance, timedelta):
    if timedelta.total_seconds() == 0: return np.nan
    return distance / timedelta.total_seconds()

def calculate_acceleration(velocity, velocity_next_position, timedelta):
    delta_v = velocity_next_position - velocity
    if timedelta.total_seconds() == 0: return np.nan
    return delta_v / timedelta.total_seconds()


headers_trajectory = ['lat', 'long', 'null', 'altitude','timestamp_float', 'date', 'time']

def load_trajectory_df(full_filename):
    # print("done")
    subfolder = full_filename.split('\\')[-3]
    trajectory_id = full_filename.split('\\')[-1].split('.')[0]
    
    df = pd.read_csv(full_filename, skiprows = 6, header = None, names = headers_trajectory)
   
    df['datetime'] = df.apply(lambda z: to_datetime(z.date + ' ' + z.time), axis=1)
    df['datetime_next_position'] = df['datetime'].shift(-1)
    df['timedelta'] = df.apply(lambda z: z.datetime_next_position - z.datetime, axis=1)
    df = df.drop(['datetime_next_position'], axis=1)
    df = df.drop(['null', 'timestamp_float', 'date', 'time'], axis=1)
    
    
    df['long_next_position'] = df['long'].shift(-1)
    df['lat_next_position'] = df['lat'].shift(-1)
    df['distance'] = df.apply(lambda z: calculate_distance(z.long, z.lat, z.long_next_position, z.lat_next_position), axis=1)
    df = df.drop(['long_next_position', 'lat_next_position'], axis=1)
    
    df['velocity'] = df.apply(lambda z: calculate_velocity(z.distance, z.timedelta), axis=1)
    df['velocity_next_position'] = df['velocity'].shift(-1)
    df['acceleration'] = df.apply(lambda z: calculate_acceleration(z.velocity, z.velocity_next_position, z.timedelta), axis=1)
    df = df.drop(['velocity_next_position'], axis=1)
    
    df['trajectory_id'] = trajectory_id
    # df['subfolder'] = subfolder
    df['labels'] = ''
    calculate_agg_features(df)
    # result_queue.put(df)
    return df

def load_labels_df(filename):
    df = pd.read_csv(filename, sep='\t')
    df['start_time'] = df['Start Time'].apply(lambda x: dt.datetime.strptime(x, '%Y/%m/%d %H:%M:%S'))
    df['end_time'] = df['End Time'].apply(lambda x: dt.datetime.strptime(x, '%Y/%m/%d %H:%M:%S'))
    df['labels'] = df['Transportation Mode']
    df = df.drop(['End Time', 'Start Time', 'Transportation Mode'], axis=1)
    return df

def calculate_agg_features(df):

    v_ave = np.nanmean(df['velocity'].values)
    v_med = np.nanmedian(df['velocity'].values)
    v_max = np.nanmax(df['velocity'].values)
    a_ave = np.nanmean(df['acceleration'].values)
    a_med = np.nanmedian(df['acceleration'].values)
    a_max = np.nanmax(df['acceleration'].values)
   
    df.loc[:, 'v_ave'] = v_ave
    df.loc[:, 'v_med'] = v_med
    df.loc[:, 'v_max'] = v_max
    df.loc[:, 'a_ave'] = a_ave
    df.loc[:, 'a_med'] = a_med
    df.loc[:, 'a_max'] = a_max

In [11]:
frames = []
# lock = mp.Lock()
def func(dirc,frames):
    # global frames
    i=1
    jjj =os.path.join(folder,dirc)
    for traj in os.listdir(jjj):
        if traj == "Trajectory":
            tr =os.path.join(jjj,traj)
            length = len(os.listdir(os.path.join(jjj,traj)))
            cnt =1
            print("lenght",length)
            for files in os.listdir(os.path.join(jjj,traj)):
                newdf = load_trajectory_df(os.path.join(tr,files))
                # newdf = pd.read_csv(os.path.join(tr,files), skiprows = 6, header =None,names = col2)
                newdf["path number"]=i
                newdf["user id"]=dirc
                with lock :
                    frames.append(newdf)
                i=i+1
                pnt = cnt*100//length
                if pnt%10==0:
                    print(pnt,dirc)
                cnt=cnt+1

In [7]:
col2 =["latitude","longitude","zero","altitude","nodays","date","time"]
threads =[]
# for dirc in os.listdir(folder):
#     user = dirc
#     print("STARTING USER :",user,"...")
#     thread = threading.Thread(target = func,args=(user,))
#     threads.append(thread)
#     thread.start()
# for th in threads:
#     th.join()
# dirs =[]

# with ThreadPoolExecutor(max_workers=100) as executor:
    # re = executor.map(func, dirs)

#             for files in os.scandir(traj):

[]

In [4]:
folder = r"C:\Users\Deepanshu Sharma\Downloads\Geolife Trajectories 1.3\Geolife Trajectories 1.3\Data"

In [3]:
frames[0]

IndexError: list index out of range

In [4]:
df = pd.concat(frames)

In [5]:
df.to_csv('cleaned_data.csv')

In [15]:
df['velocity'].max

<bound method Series.max of 0       8.083996
1       1.220001
2       2.785993
3       5.772473
4       0.466281
         ...
852    16.594514
853     6.989440
854     3.895266
855     7.277789
856          NaN
Name: velocity, Length: 24876978, dtype: float64>

In [25]:
def to_datetime(string):
    return dt.datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

In [ ]:
data= os.scandir(r"C:\Users\Deepanshu Sharma\Downloads\Geolife Trajectories 1.3\Geolife Trajectories 1.3\Data")
for usr in data:
    if 'labels.txt' in os.listdir(usr.path):
        tempdf = pd.read_csv(os.path.join(usr.path,'labels.txt'),sep ='\t')
        tempdf['start_time'] = tempdf['Start Time'].apply(lambda x: dt.datetime.strptime(x, '%Y/%m/%d %H:%M:%S'))
        tempdf['end_time'] = tempdf['End Time'].apply(lambda x: dt.datetime.strptime(x, '%Y/%m/%d %H:%M:%S'))
        tempdf['labels'] = tempdf['Transportation Mode']
        tempdf = tempdf.drop(['End Time', 'Start Time', 'Transportation Mode'], axis=1)
        for idx in tempdf.index.values:
            st = tempdf.iloc[idx]['start_time']
            et = tempdf.iloc[idx]['end_time']
            labels = tempdf.iloc[idx]['labels']
            if labels:
                df.loc[(df['datetime'] >= st) & (df['datetime'] <= et) & (df['user id'] == usr.name) , 'labels'] = labels

In [16]:
s =r"C:\Users\Deepanshu Sharma\Downloads\Geolife Trajectories 1.3\Geolife Trajectories 1.3\Data\001\Trajectory\20081120234905.plt"
s.split('\\')[-3]

'001'

In [3]:
df = pd.read_csv("geolife_raw_data.csv")

In [4]:
df

,Unnamed: 0,latitude,longitude,zero,altitude,nodays,date,time,path number,user id
0,0,39.999844,116.326752,0,492.000000,39744.749236,2008-10-23,17:58:54,1,3
1,1,39.999876,116.326708,0,492.000000,39744.749294,2008-10-23,17:58:59,1,3
2,2,39.999915,116.326672,0,492.000000,39744.749352,2008-10-23,17:59:04,1,3
3,3,40.000059,116.327140,0,142.000000,39744.749410,2008-10-23,17:59:09,1,3
4,4,40.000039,116.327172,0,132.000000,39744.749468,2008-10-23,17:59:14,1,3
...,...,...,...,...,...,...,...,...,...,...
24876973,852,39.993026,116.461984,0,483.212208,41077.702083,2012-06-17,16:51:00,2024,153
24876974,853,39.992918,116.461849,0,379.105689,41077.702095,2012-06-17,16:51:01,2024,153
24876975,854,39.992855,116.461849,0,405.097572,41077.702106,2012-06-17,16:51:02,2024,153
24876976,855,39.992855,116.461940,0,475.147126,41077.702130,2012-06-17,16:51:04,2024,153
24876977,856,39.992807,116.461997,0,510.482589,41077.702141,2012-06-17,16:51:05,2024,153

In [9]:
df.drop(["zero" , "nodays"] , axis=1,inplace =True)

KeyError: "['zero', 'nodays'] not found in axis"

In [12]:
df.drop(["Unnamed: 0"],axis=1,inplace =True)

In [27]:
df.head()

    latitude   longitude  altitude       date      time  path number  user id
0  39.999844  116.326752     492.0 2008-10-23  17:58:54            1        3
1  39.999876  116.326708     492.0 2008-10-23  17:58:59            1        3
2  39.999915  116.326672     492.0 2008-10-23  17:59:04            1        3
3  40.000059  116.327140     142.0 2008-10-23  17:59:09            1        3
4  40.000039  116.327172     132.0 2008-10-23  17:59:14            1        3

In [1]:
df=pd.read_csv("raw_data.csv")

NameError: name 'pd' is not defined

In [13]:
df[["path number","user id"]]=df[["path number","user id"]].astype("int16")
df["date"] = pd.to_datetime(df["date"])
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')

In [45]:
condition = (df['user id'] == 3) & (df['path number'] == 1)
df[condition].iloc[-1]

latitude                 40.007738
longitude               116.318767
altitude                      22.0
date           2008-10-23 00:00:00
time                      18:16:29
path number                      1
user id                          3
Name: 153, dtype: object

In [17]:
ndf = pd.DataFrame(columns=["user",'path','timetaken'])

for i in range(182):
    for j in df[df['user id'] == i]['path number'].unique():
        condition = (df['user id'] == i) & (df['path number'] == j)
        time=df[condition].iloc[-1]['time']-df[condition].iloc[0]['time']
        data = {'user':[i],'path':[j],'time':[time]}
        ndf = pd.concat([ndf,pd.DataFrame(data)],ignore_index=True)

In [25]:
ndf.to_csv("level1_data.csv", index=False)

In [2]:
!pip install numpy

Unable to create process using 'C:\Users\Deepanshu Sharma\anaconda3\python.exe "C:\Users\Deepanshu Sharma\anaconda3\Scripts\pip-script.py" install numpy'

45

Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory
Trajectory
labels.txt
Trajectory
Trajectory
Trajectory

In [1]:
from transformers import pipeline

# Load pre-trained model for text classification
classifier = pipeline("text-classification", model="nlptown/bert-base-multilingual-uncased-sentiment")

# Example descriptions
descriptions = [
    "This is a beautiful park with lots of trees and benches.",
    "The hospital is located near the city center.",
    "I had dinner at a cozy restaurant downtown."
]

# Perform inference
predictions = classifier(descriptions)

# Print predictions
for description, prediction in zip(descriptions, predictions):
    print("Description:", description)
    print("Predicted label:", prediction['label'])
    print("Confidence score:", prediction['score'])
    print()

config.json:   0%|          | 0.00/953 [00:00<?, ?B/s]

C:\Users\Deepanshu Sharma\AppData\Local\Programs\Python\Python311\Lib\site-packages\huggingface_hub\file_download.py:149: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Deepanshu Sharma\.cache\huggingface\hub\models--nlptown--bert-base-multilingual-uncased-sentiment. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

pytorch_model.bin:   0%|          | 0.00/669M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/39.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/872k [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

Description: This is a beautiful park with lots of trees and benches.
Predicted label: 5 stars
Confidence score: 0.7043156623840332

Description: The hospital is located near the city center.
Predicted label: 4 stars
Confidence score: 0.32914870977401733

Description: I had dinner at a cozy restaurant downtown.
Predicted label: 4 stars
Confidence score: 0.265004962682724

In [6]:
from transformers import BertForSequenceClassification, BertTokenizer
import torch

# Model name from the Hugging Face model hub
model_name = "bert-base-uncased"

# Load pre-trained model and tokenizer
tokenizer = BertTokenizer.from_pretrained(model_name)
model = BertForSequenceClassification.from_pretrained(model_name)

# Set model to evaluation mode
model.eval()

# Example location description

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Predicted Place Type: park

In [13]:
location_description = "the shirts there are very good."

# Tokenize input text
inputs = tokenizer(location_description, return_tensors="pt")

# Forward pass through the model
with torch.no_grad():
    outputs = model(**inputs)

# Get predicted label
predicted_label = torch.argmax(outputs.logits).item()

# Map predicted label to the corresponding place type
place_types = ["park", "hospital", "restaurant",'mall']  # Example place types
predicted_place_type = place_types[predicted_label]

print("Predicted Place Type:", predicted_place_type)

Predicted Place Type: hospital

In [8]:
df = pd.DataFrame()

In [9]:
df

Empty DataFrame
Columns: []
Index: []

In [5]:
frames[2]['labels'].isnull().sum()

0